.payment .summary {
    color: #7b7b7b;
    font-family: "Poppins-Regular";
}

.payment .bold {
    font-family: "Poppins-Bold";
    color: black;
}

.payment .payment-header {
    display: flex;
    flex-direction: column;
    margin: 20px 0;   
}

.payment button {
    background-color: #9EC2CC;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.payment input{
    border: none;
    text-align: center;
}

.cardinput{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardinput input{
    margin-left: 15px;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins-Regular.otf') format('opentype'),
      url('Poppins-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins-Bold';
    src: url('Poppins-Bold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Sans-Regular';
    src: url('Ravager-Sans-Regular.ttf') format('truetype');
  }