/* Base CSS */

:root {
  --bg-primary: #9EC2CC;
  --bg-secondary: #9EC2CC;
  --text-primary: #000000;
  --text-secondary: #ececec;
  font-family: 'Poppins-Regular', sans-serif;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.otf') format('opentype'),
    url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Sans-Regular';
  src: url('../fonts/Ravager-Sans-Regular.ttf') format('truetype');
}

/* Top of website */

.toplogo-container-parent {
  width: 100vw;
  height: 10%;
  background: var(--bg-primary);
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
}

.toplogo-container-parent img {
  transform: scale(0.9);
}


/* Dropdown Menu (Charles) */
.dropdown-menu {
  font-size: 16px;
  white-space: nowrap;
  width: min-content;
  height: min-content;
}

.dropdown-button {
  background-color: #D9D9D9;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 75px;
  width: auto;
  margin-bottom: 15px;
}

.dropdown-button img {
  margin-right: 10px;
  height: 20px;
  width: auto;
}

.dropdown-content {
  background-color: #D9D9D9;
  display: none;
  flex-direction: column;
  border-radius: 10px;
  width: min-content;
  height: min-content;
  z-index: 1;
}

.dropdown-menu.show .dropdown-content {
  display: flex;
}

.dropdown-item {
  background-color: #D9D9D9;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.dropdown-button:hover, .dropdown-item:hover {
  background-color: #a3a3a3;
}

.dropdown-item img {
  height: 20px;
  width: auto;
  margin-right: 10px;
}


/* Table Dropdown */
#table-filter {
  margin-bottom: 50px;
}

/* Helper Buttons + Popup */

.helper-buttons {
  position: absolute;
  top: calc(10% + 30px);
  right: 20px;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.circle-btn {
  margin-right: 20px;
  background-color: var(--bg-primary);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 24px;
  color: #111111;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  cursor: pointer;
  filter: drop-shadow(0 4px 4px #00000040);
}

.helper-popup {
  background-color: var(--bg-primary);
  color: black;
  border: 2px solid black;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(10% + 100px);
  z-index: -1000;
  padding: 15px;

  filter: drop-shadow(0 4px 4px #00000040);
  opacity: 0%;
  transition: opacity 0.4s;
}

.helper-title {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 24px;
}

.helper-subtitle {
  font-family: 'Poppins-Light', sans-serif;
  font-size: 14px;
}

.helper-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 12px;
}

.helper-content input[type='text'], .helper-content input[type='password'] {
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  text-indent: 30px;
  border: none;
  border-bottom: 1px solid black;
  color: black;
}

.helper-content input::placeholder {
  color: white;
}

.helper-content span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.helper-content img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 10px;
}

.popup-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.popup-checkbox input {
  margin-left: auto;
  transform: translateX(10px);
}

.white-button {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #ffffff;
  color: black;
  display: flex;
  font-family: 'Poppins-Light', sans-serif;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: min-content;
  padding: 5px 20px;
  cursor: pointer;
}

.white-button:hover {
  background-color: #dddddd;
}

#add-table-popup .helper-content {
  align-items: center;
}

#table_seats {
  background-image: url("/static/images/material-symbols_chair-alt.svg");
}

.dish-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.dish-textfields {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.dish-textfields #dish_name {
  background-image: url("/static/images/fluent_food-apple-24-filled.svg");
}

.dish-textfields #dish_price {
  background-image: url("/static/images/ion_pricetags.svg");
}

.dish-checkboxes {
  display: flex;
  flex-direction: column;
}

.dish-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}

.worker-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 100px;
}

.worker-textfields {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.worker-textfields #worker_name {
  background-image: url("/static/images/person.svg");
}

.worker-textfields #worker_email {
  background-image: url("/static/images/ic_round-email.svg");
}

.worker-textfields #worker_password {
  background-image: url("/static/images/material-symbols_lock.svg");
}

.worker-checkboxes {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.worker-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}

#basket-popup .helper-content {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 18px;
}

.basket-products {
  margin-left: 20px;
}

.basket-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  margin-top: 10px;
}

.quantity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: auto;
  justify-content: right;
}

.quantity-container .white-button {
  border-radius: 50%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.basket-vat {
  display: flex;
  column-gap: 40px;
  margin-top: 40px;
}

.basket-bottom {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid var(--text-secondary);
}

.basket-total {
  display: flex;
  flex-direction: column;
}

.basket-total div {
  display: flex;
}

.basket-total .bold {
  font-family: "Poppins-Bold", sans-serif;
}

#paynow-btn {
  margin-left: 150px;
}

/* Sidebar CSS */

.navbar {
  top: 0;
  left: 0;
  font-size: 16px;
  padding: 0 20px;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: auto;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  align-items: center;
  color: var(--text-primary);
  display: flex;
  filter: grayscale(0%) opacity(1);
  padding-bottom: 2.5rem;
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link img {
  width: 35px;
  height: 35px;
}

.nav-link:hover {
  color: var(--text-secondary);
  filter: grayscale(100%) opacity(0.7);
}

.link-text {
  display: none;
}

.navbar .user-profile .summary-text {
  display: none;
}

.hamburger-icon {
  background: var(--bg-secondary);
  color: var(--text-secondary);
  padding-top: 1.5rem;
}

.navbar.expand .nav-item:not(.hamburger-icon) img {
  width: 24px;
  height: 24px;
}

.navbar.expand .hamburger-icon img {
  margin-left: 85%;
}

.navbar.expand .nav-item {
  padding-left: 1rem;
}

.navbar.expand .user-profile img {
  transform: scale(2);
}

.navbar.expand .user-profile .summary-text {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.navbar.expand .user-profile .summary-text-small {
  font-size: 13px;
}

.navbar.expand .link-text {
  display: inline;
  margin-left: 1rem;
}

.navbar-top {
  display: flex;
  height: min-content;
}

.notif-bell {
  display: none;
}

.navbar.expand .notif-bell {
  flex: auto;
  display: flex;
  justify-content: right;
  position: relative;
  top: 50%;
  transform: translateX(-15px) translateY(-50%);
}

.navbar.expand .notif-bell img {
  width: 30px;
  height: 30px;
}

div.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Sidebar small screens */
@media only screen and (max-width: 800px) {
  .navbar {
    height: 10%;
  }

  .navbar.expand {
    height: 100vh;
  }

  .navbar .nav-item:not(.hamburger-icon) a {
    visibility: hidden;
  }

  .navbar.expand .nav-item:not(.hamburger-icon) a {
    visibility: visible;
  }

}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  cursor: pointer;
}