.content {
    overflow-x: hidden;
}

.feedback {
    margin-right: 15%;
    margin-top: 5%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
}
.feedback-stats {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: left;
    position: relative;
}

.avg_reviews {
    border: none;
    width: 10vw;
    height: 4vh;
    position: relative;
    top: 2%;
    left: 10%;
    padding: 12px 40px;
    font-family: 'Sans-Regular';
    cursor: pointer;
    background: var(--bg-primary);
    color: rgb(0, 0, 0);
    letter-spacing: 0.2px;
    font-size: medium;
    outline: 0;
    -webkit-transition: all .6s;
    transition: all .6s;
    border-radius: 15px;
    text-align: left;
    box-shadow: 3px 3px 3px rgb(187, 187, 187);
    margin: 15px 25px ;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}


.avg_reviews:before {
    content: "Avg. Rating: ";
    text-align: left;
    display: block;
    font-size: small;
}

.avg_reviews img {
    width: auto;
    height: auto;
    position: relative;
    left: 30%;
    margin-left: 10%;
}


.revenue {
    border: none;
    width: 10vw;
    height: 4vh;
    position: relative;
    top: 2%;
    left: 10%;
    padding: 12px 40px;
    font-family: 'Sans-Regular';
    cursor: pointer;
    background: var(--bg-primary);
    color: rgb(0, 0, 0);
    letter-spacing: 0.2px;
    font-size: medium;
    outline: 0;
    -webkit-transition: all .6s;
    transition: all .6s;
    border-radius: 15px;
    text-align: left;
    box-shadow: 3px 3px 3px rgb(187, 187, 187);
    margin: 15px 10px 1px;
    display: flex;
    flex-direction: row;
}


.revenue:before {
    content: "Daily Revenue: ";
    text-align: left;
    display: block;
    font-size: small;
}

.revenue img {
    width: auto;
    height: auto;
    position: relative;
    left: 20%;
    margin-left: 10%;
}

.popular_food {
    border: none;
    width: 10vw;
    height: 4vh;
    position: relative;
    top: 2%;
    left: 10%;
    padding: 12px 40px;
    font-family: 'Sans-Regular';
    cursor: pointer;
    background: var(--bg-primary);
    color: rgb(0, 0, 0);
    letter-spacing: 0.2px;
    font-size: medium;
    outline: 0;
    -webkit-transition: all .6s;
    transition: all .6s;
    border-radius: 15px;
    text-align: left;
    box-shadow: 3px 3px 3px rgb(187, 187, 187);
    margin: 15px 10px 1px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
}


.popular_food:before {
    content: "Most Popular Food:";
    text-align: left;
    display: block;
    font-size: x-small;
}

.popular_food img {
    width: auto;
    height: auto;
    position: relative;
    left: 20%;
    margin-left: 15%;
}

.popular_drink {
    border: none;
    width: 10vw;
    height: 4vh;
    position: relative;
    top: 2%;
    left: 10%;
    padding: 12px 40px;
    font-family: 'Sans-Regular';
    cursor: pointer;
    background: var(--bg-primary);
    color: rgb(0, 0, 0);
    letter-spacing: 0.2px;
    font-size: small;
    outline: 0;
    -webkit-transition: all .6s;
    transition: all .6s;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgb(187, 187, 187);
    margin: 15px 10px 1px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
}


.popular_drink:before {
    content: "Most Popular Drink:";
    text-align: left;
    display: block;
    font-size: x-small;
}

.popular_drink img {
    width: auto;
    height: auto;
    position: relative;
    left: 20%;
    margin-left: 10%;
}

.cust_seated {
    border: none;
    width: 10vw;
    height: 4vh;
    position: relative;
    top: 2%;
    left: 10%;
    padding: 12px 40px;
    font-family: 'Sans-Regular';
    cursor: pointer;
    background: var(--bg-primary);
    color: rgb(0, 0, 0);
    letter-spacing: 0.2px;
    font-size: medium;
    outline: 0;
    -webkit-transition: all .6s;
    transition: all .6s;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgb(187, 187, 187);
    margin: 15px 10px 1px;
    display: flex;
    flex-direction: row;
}


.cust_seated:before {
    content: "Customers Seated:";
    text-align: left;
    display: block;
    font-size: x-small;
}

.cust_seated img {
    width: auto;
    height: auto;
    position: relative;
    left: 25%;
    margin-left: 10%;
}
.feedback-visuals {
    height: 70vh;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: row;}

.daily_cust {
    border: none;
    width: 50vw;
    height: 50vh;
    position: relative;
    padding: 12px 40px;
    font-family: 'Sans-Regular';
    cursor: pointer;
    background: var(--bg-primary);
    color: rgb(0, 0, 0);
    letter-spacing: 0.2px;
    font-size: x-large;
    outline: 0;
    -webkit-transition: all .6s;
    transition: all .6s;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgb(187, 187, 187);
    margin: 15px 25px ;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.popular_dishes {
    border: none;
    width: 25vw;
    height: 50vh;
    position: relative;
    padding: 12px 40px;
    font-family: 'Sans-Regular';
    cursor: pointer;
    background: var(--bg-primary);
    color: rgb(0, 0, 0);
    letter-spacing: 0.2px;
    font-size: x-large;
    outline: 0;
    -webkit-transition: all .6s;
    transition: all .6s;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgb(187, 187, 187);
    margin: 15px 25px ;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.scroll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    max-width:fit-content;
    position: relative;
}

.scrollmsg {
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
    height: auto;
    font-family: 'Sans-Regular';
    cursor: none;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    white-space: nowrap;

}

.arrowleft {
    margin-left: 2%;
    margin-top: 1%;
}

.arrowright {
    margin-right: 2%;
    margin-top: 1%;
}

.notifications {
    top: 110%;
    position: absolute;
    /* display: none; */
}

.notifs-content {
    margin-right: 15%;
    margin-top: 5%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
  }
  
  .action {
    border: none;
    padding: 12px 40px;
    font-family: 'Sans-Regular';
    cursor: pointer;
    text-transform: uppercase;
    background: var(--bg-primary);
    color: rgb(0, 0, 0);
    letter-spacing: 0.2px;
    font-size: x-large;
    outline: 0;
    -webkit-transition: all .6s;
    transition: all .6s;
    border-radius: 15px;
    text-align: left;
    box-shadow: 3px 3px 3px rgb(187, 187, 187);
    margin: 15px 200px 5px;
    display: flex;
    flex-direction: row;
  }
  
  .action .notif-text {
    flex: auto;
    justify-content: left;
    margin-left: 5%;
  }
  
  .notif-img img {
    width: auto;
    height: auto;
    flex: auto;
    justify-content: right;
  }
  
  .red-light-img {
    position: absolute;
  }
  
  .user-img img {
    width: 68px;
    height: 68px;
    position: relative;
  }
  
  .notif-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .notif-popup {
    border: none;
    padding: 15px 20px;
    font-family: 'Sans-Regular';
    cursor: pointer;
    text-transform: uppercase;
    background: var(--bg-primary);
    color: rgb(0, 0, 0);
    letter-spacing: 0.2px;
    font-size: x-large;
    outline: 0;
    -webkit-transition: all .6s;
    transition: all .6s;
    border-radius: 50px;
    text-align: center;
    box-shadow: 3px 3px 3px rgb(187, 187, 187);
    margin: auto;
  }
  
  
  
