.action {
  display: flex;
  flex-direction: row;
}

.action button {
  border: none;
  padding: 18px 70px;
  font-family: 'Sans-Regular';
  cursor: pointer;
  text-transform: uppercase;
  background: var(--bg-primary);
  color: rgb(0, 0, 0);
  letter-spacing: 0.2px;
  font-size: xx-large;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 15px;
  text-align: center;
  box-shadow: 3px 3px 3px rgb(187, 187, 187);
  margin: 30px 150px;
}

.belowlogo-container-parent {
  margin-top: 20px;
}
