.notifs-content {
  margin-right: 15%;
  margin-top: 5%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.action {
  border: none;
  padding: 12px 40px;
  font-family: 'Sans-Regular';
  cursor: pointer;
  text-transform: uppercase;
  background: var(--bg-primary);
  color: rgb(0, 0, 0);
  letter-spacing: 0.2px;
  font-size: x-large;
  outline: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
  border-radius: 15px;
  text-align: left;
  box-shadow: 3px 3px 3px rgb(187, 187, 187);
  margin: 15px 200px 5px;
  display: flex;
  flex-direction: row;
}

.action .notif-text {
  flex: auto;
  justify-content: left;
  margin-left: 5%;
}

.notif-img img {
  width: auto;
  height: auto;
  flex: auto;
  justify-content: right;
}

.red-light-img {
  position: absolute;
}

.user-img img {
  width: auto;
  height: 100%;
  position: relative;
}

.notif-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notif-popup {
  border: none;
  padding: 15px 20px;
  font-family: 'Sans-Regular';
  cursor: pointer;
  text-transform: uppercase;
  background: var(--bg-primary);
  color: rgb(0, 0, 0);
  letter-spacing: 0.2px;
  font-size: x-large;
  outline: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
  border-radius: 50px;
  text-align: center;
  box-shadow: 3px 3px 3px rgb(187, 187, 187);
  margin: auto;
}





.popup {
  padding: 10px;
  height: 215px;
  border-radius: 1em;
  color: #000;
  background-color: rgba(255, 255, 255, 1);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility 0s linear .5s;
  z-index: 1;
}

.popup:target {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.popup_position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 390px;
}


.popup_position .close {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #000;
  transition: color .3s;
  font-size: 2em;
  line-height: 1.5;
  font-weight: 700;
}

.popup_position .close:hover {
  color: #f00;
}


/* ------------------- */
.close-popup {
  background-color: rgba(0, 0, 0, .7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility 0s linear .0s;
}

.popups_container {
  position: fixed;
  top: 10;
  right: 0;
  margin-right: 5%;
  z-index: 9999;
}


.btn {
  padding: 15px 25px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  display: inline-block;
  margin-top: 50%;
  background-color: #9EC2CC;
  font-weight: 700;
  transition: .3s;
}


.color-btn-container {
  width: 25px;
  height: 25px;

}

.color-btn-container1 {
  width: 25px;
  height: 25px;
}

.color-btn-container2 {
  width: 25px;
  height: 25px;
}

#available {
  position: absolute;
  top: 126px;
  left: 60px;
  margin: 0;
  display: inline-block;
}

#occupied {
  position: absolute;
  top: 178px;
  left: 60px;
  margin: 0;
  display: inline-block;
}

#reserved {
  position: absolute;
  top: 151px;
  left: 60px;
  margin: 0;
  display: inline-block;
}