.payment-header {
  display: flex;
  justify-content: center;
  font-family: 'Sans-Regular';
  font-size: 44px;
}

.payment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.payment-container-left {
  flex: auto;
  justify-content: left;
}

.payment-container-right {
  flex: auto;
  justify-content: right;
}

.order-details {
  display: flex;
  flex-direction: column;
  color: #7b7b7b;
}

.order-details hr {
  border: none;
  border-top: 3px dotted #7b7b7b;
  height: 1px;
  width: 100%;
}

.order-details-top {
  display: flex;
  flex-direction: row;
}

.order-details-left {
  flex: auto;
  justify-content: left;
}

.order-details-right {
  flex: auto;
  justify-content: right;
}

.bold {
  font-family: 'Poppins-Bold';
}

.pence {
  font-size: 16px;
}
