/* Dropdown Menu */
.card_grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    row-gap: 40px;
  }

.dropdown-popups_section {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    min-width: 10em;
    margin: 2em;
    width: 40%;
    position: relative;
}

.select {
    background: #cfd2da;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px #535353 solid;
    border-radius: 1.75em;
    padding: 1em;
    cursor: pointer;

}

.select:hover {
    background: var(--bg-primary);
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid rgb(44, 44, 44);
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.dropdown-menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #cfd2da;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(255, 255, 255, 0.2);
    border-radius: 0.5em;
    color: #000000;
    position: absolute;
    top: 2.7em;
    left: 1rem;
    width: 90%;

    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.dropdown-menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: var(--bg-primary);
}

.active {
    background: #cfd2da;
}

.menu-open {
    display: block;
    opacity: 1;
}

/* ---table Button Section------------ */
.table_btns-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    margin: 0px;
    width: 90%;
}

.action {
    position: relative;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background: var(--bg-primary);
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    box-shadow: 5px 5px 5px rgb(187, 187, 187)
}

.action .table1_btn {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background: var(--bg-primary);
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 15px;

}

.table1_btn:hover {
    background-color: var(--bg-primary);
}

.table1_btn:active {
    transform: translatey(5px);
    box-shadow: 0px 0px 0px 0px rgb(187, 187, 187)
}

.numcircle {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: grid;
    width: 15px;
    height: 15px;
    border-radius: 50%;

}

.red-dot {

    background-color: rgb(255, 1, 1);
}

.yellow-dot {
    background-color: rgba(235, 255, 108, 0.986);
}

.green-dot {
    background-color: rgb(4, 212, 4);
}
