@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
    background: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding: 6rem 6rem;

}
.box{
    margin: 25px;
    height: 220px;
    width: 325px;
    border-radius: 25px;
    padding: 20px;
    background: #9EC2CC;
 }
 .box img{

   width: 45px;
   background: #9EC2CC;
   top: 0;
   left: 0;
   border: none;
   float: left ;
   padding-top: 10px;
  
 }
 .box h2{
    color: black;
    padding-left: 65px;
    padding-top: 10px;
}
 .box h3{
    color: black;
    padding-left: 65px; 
 }
 .box .content{
    padding: 47px 1px 50px 4px;
    font-size: 15px;
 }
 .box .content p1{
    color: black;

 }
 .box .content p2{
    color: black;
    padding-left: 85px;
    text-align: center;
    
 }
 .box .content p3{
    color: black;
    padding-left: 107px;
    text-align: center;
    
 }
 .box .content p4{
    color: black;
    padding-left: 102px;
    text-align: center;
    
 }