<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>404 - Oaxaca</title>
</head>

<body>
    <div class="main-section">
    </div>

    <script>
        $(document).ready(function () {
            $(".home-button").click(function() {
                document.location.href = "/";
            });
        });
    </script>
</body>

</html>