<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> 
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="toplogo-container-parent">
        <img src="{{ url_for('static', filename='images/Logo.svg') }}" alt="toplogo">
    </div>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item hamburger-icon" onclick="toggleSidebar()">
                <a href="#" class="nav-link">
                    <img src="{{ url_for('static', filename='images/sidebar/hamburger.svg') }}" alt="menubutton">
                </a>
            </li>

            <li class="nav-item user-profile">
                <a href="#" class="nav-link">
                    <img src="{{ url_for('static', filename='images/sidebar/user-icon.svg') }}" alt="user">
                    <div class="summary-text">
                        <div>
                            Table 2
                        </div>
                        <div class="summary-text-small">
                            Customer
                        </div>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url_for('views.menu') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='images/sidebar/food-menu-icon.svg') }}" alt="menu">
                    <span class="link-text">Menu</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url_for('views.product') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='images/sidebar/allergies-icon.svg') }}"
                        alt="allergies and calories">
                    <span class="link-text">Allergies and calories</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="{{ url_for('static', filename='images/sidebar/waiter-icon.svg') }}" alt="call a waiter">
                    <span class="link-text">Call a waiter</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url_for('views.notification' )}}" class="nav-link">
                    <img src="{{ url_for('static', filename='images/sidebar/checklist-icon.svg') }}" alt="ordered food">
                    <span class="link-text">Ordered food</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url_for('views.payment') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='images/sidebar/payment-icon.svg') }}" alt="payment">
                    <span class="link-text">Payment</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url_for('views.feedback') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='images/sidebar/material-symbols_rate-review-outline.svg') }}" alt="review">
                    <span class="link-text">Reviews / Stats</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url_for('auth.logout') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='images/sidebar/ic_baseline-log-out.svg') }}" alt="logout">
                    <span class="link-text">Log Out</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
            <div class="helper-buttons">
                <div class="circle-btn popup-btn" popup="basket-popup">
                    <img src="{{ url_for('static', filename='images/basket.svg') }}" alt="basket-icon">
                </div>
                <div class="circle-btn popup-btn" popup="add-worker-popup">+</div>
                <div class="circle-btn popup-btn" popup="add-dish-popup">+</div>
                <div class="circle-btn popup-btn" popup="add-table-popup">+</div>
                <div class="circle-btn popup-btn" popup="table-popup">?</div>
                <div class="circle-btn popup-btn" popup="order-popup">?</div>
                <div class="circle-btn popup-btn" popup="allergy-popup">?</div>
            </div>
        {% endblock %}

        <div id="table-popup" class="helper-popup">
            <div class="helper-title">Table Status</div>
            <div class="helper-subtitle">The following dots show the status of the tables:</div>
            <div class="helper-content">
                <span><img src="{{ url_for('static', filename='images/green-light.svg') }}" alt="green-dot">Available</span>
                <span><img src="{{ url_for('static', filename='images/yellow-light.svg') }}" alt="yellow-dot">Reserved for the next two hours</span>
                <span><img src="{{ url_for('static', filename='images/red-light.svg') }}" alt="red-dot">Occupied</span>
            </div>
        </div>

        <div id="order-popup" class="helper-popup">
            <div class="helper-title">Order Status</div>
            <div class="helper-subtitle">The following dots show the status of the order:</div>
            <div class="helper-content">
                <span><img src="{{ url_for('static', filename='images/green-light.svg') }}" alt="green-dot">Served</span>
                <span><img src="{{ url_for('static', filename='images/yellow-light.svg') }}" alt="yellow-dot">In Progress</span>
                <span><img src="{{ url_for('static', filename='images/red-light.svg') }}" alt="red-dot">Waiting</span>
            </div>
        </div>

        <div id="allergy-popup" class="helper-popup">
            <div class="helper-title">Allergies Informations</div>
            <div class="helper-subtitle">The following symbols show the allergies of the dishes:</div>
            <div class="helper-content">
                <span><img src="{{ url_for('static', filename='images/menu/mdi_meat.svg') }}" alt="Meat Icon">Contains meat.</span>
                <span><img src="{{ url_for('static', filename='images/menu/mdi_gluten-free.svg') }}" alt="Gluten Free Icon">Gluten free.</span>
                <span><img src="{{ url_for('static', filename='images/menu/Group.svg') }}" alt="Vegan Icon">Vegan</span>
            </div>
        </div>

        <div id="add-table-popup" class="helper-popup">
            <div class="helper-title">Add a table</div>
            <div class="helper-subtitle">Choose the number of seats here:</div>
            <div class="helper-content">
                <input id="table_seats" type="text" placeholder="Number of seats", pattern="^[0-9]*$" />
                <div id="add-table-btn" class="white-button">Add table</div>
            </div>
        </div>

        <div id="add-dish-popup" class="helper-popup">
            <div class="helper-title">Add a Dish</div>
            <div class="helper-content">
                <div class="dish-main">
                    <div class="dish-textfields">
                        <input id="dish_name" type="text" placeholder="Name"/>
                        <input id="dish_price" type="text" placeholder="£ Price" />
                    </div>
                    <div class="dish-checkboxes">
                        <label class="popup-checkbox">
                            <img src="{{ url_for('static', filename='images/menu/mdi_meat.svg') }}" alt="Meat Icon">
                            <span>Contains meat</span>
                            <input type="checkbox">
                        </label>
                        <label class="popup-checkbox">
                            <img src="{{ url_for('static', filename='images/menu/mdi_gluten-free.svg') }}" alt="Gluten Free Icon">
                            <span>Gluten free</span>
                            <input type="checkbox">
                        </label>
                        <label class="popup-checkbox">
                            <img src="{{ url_for('static', filename='images/menu/Group.svg') }}" alt="Vegan Icon">
                            <span>Vegan</span>
                            <input type="checkbox">
                        </label>
                    </div>
                </div>
                <div class="dish-btns">
                    <div id="add-dish-btn" class="white-button">Add dish</div>
                    <div id="add-picture-btn" class="white-button">Add picture*</div>
                </div>
            </div>
        </div>

        <div id="add-worker-popup" class="helper-popup">
            <div class="helper-title">Add a worker</div>
            <div class="helper-content">
                <div class="worker-main">
                    <div class="worker-textfields">
                        <input id="worker_name" type="text" placeholder="Name"/>
                        <input id="worker_email" type="text" placeholder="Email" />
                        <input id="worker_password" type="password" placeholder="Password" />
                    </div>
                    <div class="worker-checkboxes">
                        <label class="popup-checkbox">
                            <span>Worker</span>
                            <input type="checkbox">
                        </label>
                        <label class="popup-checkbox">
                            <span>Chef</span>
                            <input type="checkbox">
                        </label>
                    </div>
                </div>
                <div class="worker-btns">
                    <div id="confirm-worker-btn" class="white-button">Confirm</div>
                </div>
            </div>
        </div>

        <div id="basket-popup" class="helper-popup">
            <div class="helper-title">Basket</div>
            <div class="helper-subtitle">View basket details below:</div>
            <div class="helper-content">
                {{ cart_products|safe }}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>