<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <title>Oaxaca - Login</title>
</head>

<div class="logo-container">
  <a href="{{ url_for('views.home') }}">
  <img src="{{ url_for('static', filename='images/Logo.svg') }}" alt="logo">
  </a>
</div>

<br>

<body>
  <div class="login-content">
      <img id="peopleImage" src="{{ url_for('static', filename='images/Vector Log.svg') }}" alt="People at a table"
      width="392" height="480">
    <div class="login-form">
      <h1>Log In</h1>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div id="flashedMessages">
                {% for category, message in messages %}
                  <div class="flashMessage {{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
          {% endif %}
        {% endwith %}
      <form action="{{ url_for('auth.login') }}" method="post">
        <div class="login-inner-content">
          <div id="nameField" class="input-field">
            <img src="https://img.icons8.com/ios-glyphs/512/user--v1.png" width="20" height="20" alt="Person Icon">
            <input id="name" name="name" type="text" placeholder="Your Name" autocomplete="given-name">
          </div>

          <div id="emailField" class="input-field">
            <img src="https://img.icons8.com/ios-glyphs/512/secured-letter.png" width="20" height="20"
              alt="Letter Icon">
            <input id="email" name="email" type="text" placeholder="Your Email" autocomplete="nope">
          </div>

          <div id="passwordField" class="input-field">
            <img src="https://img.icons8.com/ios-glyphs/512/keyhole-shield.png" width="20" height="20"
              alt="Padlock Icon">
            <input id="password" name="password" type="password" placeholder="Your Password" autocomplete="nope">
            <img id="eyeIcon" src="{{ url_for('static', filename='images/show.svg') }}" alt="Eye Icon"
              onclick="togglePassword()">
          </div>

        </div>

        <div class="action">
          <button type="submit" formaction="{{ url_for('auth.signup') }}">Register</button>
          <button type="submit" formaction="{{ url_for('auth.login') }}">Sign In</button>
        </div>
      </form>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>