{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/notifcenter.css') }}">
  <title>
    Oaxaca - Notification Center
  </title>
{% endblock %}

{% block content %}
<div class="notifs-content">
    {% for i in range(5) %}
    <div class="action">
        <div class= "user-img"><img src="{{ url_for('static', filename='images/User-Icon.svg') }}" alt="user"></div> 
        <div class= "red-light-img"><img src="{{ url_for('static', filename='images/red-light.svg') }}" alt="redlight"></div> 
        <div class="notif-text"> Table 10 has ordered <br> 32 seconds ago</div>
        <div class= "notif-img"><img src="{{ url_for('static', filename='images/clickarrow.svg') }}" alt="arrow"></div>
    </div>
    {% endfor %}

    <div class="popups_container">
      <a href="#popup" class="btn popup-btn">?</a>
    </div>

    <div id="popup" class="popup popup_position">
      <a href="#" class="close">&times;</a>
      <h2 id="tablestatustxt">Table Status:</h2>
      <h4>The following dots show the status of the tables:</h4>

     <div class="popup-content">
         <div class="color-btn-container">
           <button id="greenButton"></button>

           <div class="color-btn-container"></div>
             <h4 id="available">Available.</h4>
         </div>

         <div class="color-btn-container">
           <button id="yellowButton"></button>

           <div class="color-btn-container"></div>
             <h4 id="reserved">Reserved for the next two hours.</h4>
         </div>

         <div class="color-btn-container">
           <button id="redButton"></button>

           <div class="color-btn-container"></div>
             <h4 id="occupied">Occupied.</h4>
         </div>
      </div>
    </div>
    
</div>
{% endblock %}