{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/notifcenter.css') }}">
  <title>
    Oaxaca - Notification Center
  </title>
{% endblock %}

{% block content %}


<div class="notifs-content">
    <div class="action">
        <div class="notif-text"> Table 10 has ordered <br> 32 seconds ago</div>
     <div class= "notif-img"><img src="{{ url_for('static', filename='images/clickarrow.svg') }}" alt="arrow"></div> 
    </div>
</div>


{% endblock %}