{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/notifcenter.css') }}">
<title>
  Oaxaca - Notification Center
</title>
{% endblock %}

{% block content %}
<div class="notifs-content" >
  <div id="overlay" onclick="closeReview()"></div>
  {% for notif in res %}
  <div class="action" id="n{{ notif.NotificationID }}" onclick="Open_Review(this)">
    <div class="user-img"><img src="{{ url_for('static', filename='images/User-Icon.svg') }}" alt="user"></div>

    {% if notif.typeNotification == 1 %}
    <div class="light-img"><img src="{{ url_for('static', filename='images/red-light.svg') }}" alt="redlight"></div>
    {% endif %}

    {% if notif.typeNotification == 2 %}
    <div class="light-img"><img src="{{ url_for('static', filename='images/yellow-light.svg') }}" alt="redlight"></div>
    {% endif %}

    {% if notif.typeNotification == 3 %}
    <div class="light-img"><img src="{{ url_for('static', filename='images/green-light.svg') }}" alt="redlight"></div>
    {% endif %}

    <div class="notif-text"> Table {{ notif.FK_UserID }}
      {% if notif.typeNotification == 1 %}
      has ordered
      {% endif %}

      {% if notif.typeNotification == 2 %}
      has called the waiter
      {% endif %}

      {% if notif.typeNotification == 3 %}
      has paid
      {% endif %}

      {% if notif.typeNotification == 4 %}
      Customer has left
      {% endif %}

      <br>
      {{ notif.TimeNotifcation }}
    </div>
    <div class="notif-img"><img src="{{ url_for('static', filename='images/clickarrow.svg') }}" alt="arrow"></div>
    <div class="delete-button"><img src="{{ url_for('static', filename='images/delete.png') }}" alt="delete-button"></div>
  </div>

  {% for NotifID, productList in products.items() %}
  <div id="p{{ NotifID }}" class="fnotif_popup_container" >
    <!-- container for feedback pop up container -->
    <!-- Modal content -->
    <div class="fb-content">
        <div class="fb-header">
            <span class="reviews-bold">Table number: {{ notif.FK_UserID }} 
              <br>Price: {{ totalString }}</span>
        </div>
        <div class="review-textarea">
            <div class="review-text">
              {% for product in productList %}
                <div class="reviews-text-font">{{ product }}</div>
              {% endfor %}
            </div>
        </div>
        
        <div class="review-submit">
            <button id="review-btn" type="button" onclick="closeReview()">Close</button>

        </div>

    </div>
</div>
{% endfor %}

  {% endfor %}

</div>


<!-- <script type="text/javascript">
  function TimeAgo(){
    const date = new Date();

    let day = date.getDate();
    let month = date.getMonth() + 1;
    let year = date.getFullYear();
    let hour = date.getHours();
    let minutes = date.getMinutes();
    let seconds =  date.getSeconds();

    let currentDate = `${day}-${month}-${year}--${hour}--${minutes}--${seconds}`;
    document.getElementById("time-ago").innerHTML = currentDate;
  }
  TimeAgo();
</script> -->


<script>
  let notif_div = Array.from(document.querySelectorAll(".action"));
  notif_div.forEach(function (action) {
    let delete_button = action.querySelector(".delete-button");
    if (delete_button) {
      action.onmouseover = function() {
        delete_button.style.visibility = "visible";
      }
      action.onmouseout = function() {
        delete_button.style.visibility = "hidden";
      }

      delete_button.onclick = function() {
        $.ajax({
          url: '/delete_notif',
          type: 'POST',
          data: {id: action.id},
          success: function(data) {
            $(".content").prepend('<div class="notification"><div class="notification-message"></div></div>');
            $(".notification-message").html("Notification deleted!");
          },
          error: function(error) {
            console.log(error);
          }
        });
        action.remove();
      }
    }
  });

  function Overlay_on() {
    document.getElementById("overlay").style.display = "block";
  }
  
  function Overlay_off() {
    document.getElementById("overlay").style.display = "none";
  }

  function closeReview() {        
      var popups = Array.from(document.getElementsByClassName("fnotif_popup_container"));
      Overlay_off();
      popups.forEach(function(popup) { 
          popup.style.display = "none";
      });
  }

  function Open_Review(element) {
      var review = element;
      var review_id = element.id.substring(1);
      document.querySelector(".fnotif_popup_container#p" + review_id).style.display = "flex";
      Overlay_on();
  }
</script>

{% endblock %}
