{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/orderstyles.css') }}">
  <title>Oaxaca - Home</title>
{% endblock %}

{% block content %}

        <!-- popups_container -->
        <div class="popups_container">
          <!-- question_popup -->
          <a href="#popup" class="btn popup-btn">?</a>
        </div>
      </section>


      
      <!--------------- order Section --------->


      <div class="image-container">
        <img id="image1" class="image visible" src="{{ url_for('static', filename='images/tables/Vector.png') }}" onclick="nextImage()">
        <img id="image2" class="image hidden" src="{{ url_for('static', filename='images/tables/proorder.png') }}" onclick="nextImage()">
        <img id="image3" class="image hidden" src="{{ url_for('static', filename='images/tables/attable.png') }}" onclick="nextImage()">
      </div>
      <div><button class="reviewbutton" type="submit">Review Order</button></div>

    <div id="popup" class="popup popup_position">
       <a href="#" class="close">&times;</a>
       <h2 id="tablestatustxt">Order Status:</h2>
       <h4>The following dots show the status of the order:</h4>
      <div class="popup-content">

        
          <div class="color-btn-container">
            <button id="greenButton"></button>

            <div class="color-btn-container"></div>
              <h4 id="available">Served.</h4>
          </div>

          <div class="color-btn-container">
            <button id="yellowButton"></button>

            <div class="color-btn-container"></div>
              <h4 id="reserved">In progress.</h4>
          </div>

          <div class="color-btn-container">
            <button id="redButton"></button>

            <div class="color-btn-container"></div>
              <h4 id="occupied">Waiting.</h4>
          </div>


        </div>
      </div>
    </div>  
    
    
    

<!-- popup ? close-popup -->
    <a href="#" class="close-popup2"></a>
      <div id="popup-plus" class="popup-plus popup_position">
         <a href="#" class="close-plus">&times;</a>
        <div class="popup-content-plus"></div>
      </div>

    <a href="#" class="close-popup"></a>
  </div>


  <!-- Review Modal -->

  <div id="reviewModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
          <div class="modal-header">
              <span>HELP US IMPROVE</span>
          </div>

          <div class="stars">
              {% for i in range(1, 6) %}
                  <img id="{{ i }}" src="{{ url_for('static', filename='images/payment/star-blank.png') }}" alt="star-blank">
              {% endfor %}
          </div>
          
          <div class="review-textarea">
              <textarea id="review-text" name="review-text" rows="10" cols="50" placeholder="Enter a review..."></textarea>
          </div>

          <div class="review-submit">
              <button id="review-btn" type="button">Submit</button>
          </div>

      </div>
  </div>


  <script src="{{ url_for('static', filename='js/orderprogress.js') }}"></script>
  <script src="{{ url_for('static', filename='js/order.js') }}"></script>
{% endblock %}
