<html>

<head>
    <link rel="stylesheet" href="sidebaranimated.css">
</head>

<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item hamburger-icon" onclick="toggleSidebar()">
                <a href="#" class="nav-link">
                    <img src="Vector.svg" alt="menubutton">
                </a>
            </li>

            <li class="nav-item user-profile">
                <a href="#" class="nav-link">
                    <img src="User Icon.svg" alt="user">
                    <div class="summary-text">
                        <div>
                            Table 2
                        </div>
                        <div class="summary-text-small">
                            Customer
                        </div>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="material-symbols_menu-book-outline-sharp.svg" alt="menu">
                    <span class="link-text">Menu</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="mdi_gluten-free.svg" alt="allergies and calories">
                    <span class="link-text">Allergies and calories</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="fa6-solid_user-tie.svg" alt="call a waiter">
                    <span class="link-text">Call a waiter</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="material-symbols_order-approve-outline.svg" alt="ordered food">
                    <span class="link-text">Ordered food</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="material-symbols_payments-outline.svg" alt="payment">
                    <span class="link-text">Payment</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="Vector (1).svg" alt="review">
                    <span class="link-text">Reviews</span>
                </a>
            </li>

        </ul>
    </nav>

    <script src="sidebaranimated.js"></script>
</body>

</html>