{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/tables.css') }}"
/>
<title>Oaxaca - Home</title>
{% endblock %} {% block content %}
<!-- dropdown and popups section -->
<section class="dropdown-popups_section">
  <!-- dropdown -->
  <div class="dropdown">
    <div class="select">
      <span>Show all</span>
      <div class="caret"></div>
    </div>
    <ul class="dropdown-menu">
      <li>Show all</li>
      <li>Occupied</li>
      <li>Reserved for the next two hours</li>
      <li class="active">Available</li>
    </ul>
  </div>
</section>

<!--------------- table Buttons Section --------->

<div class="card_grid">
  {% for table in res %}

  <section class="table_btns-section">
    <!-- Button -->
    <div class="action">
      <button class="table1_btn" type="submit">
        <img
          src="{{ url_for('static', filename='images/tables/btn1.png') }}"
          alt="btn1"
        />
      </button>
      <span class="numcircle red-dot"></span>
    </div>
  </section>

  {% endfor %}
</div>
{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/tables.js') }}"></script>
{% endblock %}
