{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/tables.css') }}"
/>
<title>Oaxaca - Home</title>
{% endblock %} {% block content %}
<!-- dropdown and popups section -->
<section class="dropdown-popups_section">
  <!-- dropdown -->
  <div class="dropdown">
    <div class="select">
      <span>Show all</span>
      <div class="caret"></div>
    </div>
    <ul class="dropdown-menu">
      <li>Show all</li>
      <li>Occupied</li>
      <li>Reserved for the next two hours</li>
      <li class="active">Available</li>
    </ul>
  </div>
</section>

<!--------------- table Buttons Section --------->

<div class="card_grid">
  {% for table in res %}

  <section class="table_btns-section">
    <!-- Button -->
    <div class="action">
      <button class="table_btn" type="submit">
        
        {% if table.Available==3 %}
        <span class="numcircle red-dot"></span>
        {% endif %}

        {% if table.Available==2 %}
        <span class="numcircle yellow-dot"></span>
        {% endif %}

        {% if table.Available==1 %}
        <span class="numcircle green-dot"></span>
        {% endif %}

        <img
          src="{{ url_for('static', filename='images/Tables.svg') }}"
          alt="icon_table"
        />
      </button>

      <p>Table {{ table.TableID }} </p>
    </div>
  </section>

  {% endfor %}
</div>
{% endblock %} 
{% block scripts %}

<!-- <script src="{{ url_for('static', filename='js/tables.js') }}"></script> -->
{% endblock %}
